In [1]:
import pandas as pd

In [2]:
url = 'https://www.basketball-reference.com/leagues/NBA_1997_games.html'
dframe_list = pd.io.html.read_html(url)

In [3]:
dframe_list[0]

,Date,Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 5,Unnamed: 6,Attend.,Notes
0,"Fri, Nov 1, 1996",Chicago Bulls,107,Boston Celtics,98,Box Score,NaN,18624,NaN
1,"Fri, Nov 1, 1996",Dallas Mavericks,92,Denver Nuggets,91,Box Score,NaN,16104,NaN
2,"Fri, Nov 1, 1996",Indiana Pacers,89,Detroit Pistons,95,Box Score,NaN,21454,NaN
3,"Fri, Nov 1, 1996",Los Angeles Clippers,97,Golden State Warriors,85,Box Score,NaN,15593,NaN
4,"Fri, Nov 1, 1996",Sacramento Kings,85,Houston Rockets,96,Box Score,NaN,16285,NaN
...,...,...,...,...,...,...,...,...,...
211,"Sat, Nov 30, 1996",Toronto Raptors,70,Minnesota Timberwolves,79,Box Score,NaN,18679,NaN
212,"Sat, Nov 30, 1996",Sacramento Kings,101,New York Knicks,115,Box Score,NaN,19763,NaN
213,"Sat, Nov 30, 1996",Vancouver Grizzlies,90,Philadelphia 76ers,96,Box Score,NaN,13038,NaN
214,"Sat, Nov 30, 1996",Chicago Bulls,97,San Antonio Spurs,88,Box Score,NaN,37058,NaN
215,"Sat, Nov 30, 1996",Houston Rockets,103,Washington Bullets,99,Box Score,NaN,18756,NaN

In [6]:
months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 
          'august','september', 'october', 'november', 'december']

In [117]:
"""
I scrape the data for seasons 1996-97 to 2020-21. These season have play-by-play data.
"""
df = pd.DataFrame(columns=['Date', 'seasonStartYear', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1', 'Unnamed: 5',
       'Unnamed: 6', 'Attend.', 'Notes'])
for year in range(1997, 2021):
    for month in months: #Due to how urls are structured on the website I need to collect months separetly
        if year == 2020 and month == 'april': continue
        try:
            url = 'https://www.basketball-reference.com/leagues/NBA_{}_games-{}.html'.format(year, month)
            yearMonth_table = pd.io.html.read_html(url)[0]
            yearMonth_table['seasonStartYear'] = year - 1
            df = pd.concat([df, yearMonth_table])
        except:
            continue

In [118]:
"""
The covid season has two october months, which the code above does not find. I add these months by iterating through this url_lst.
"""
url_lst = ['https://www.basketball-reference.com/leagues/NBA_2020_games-october-2019.html',
          'https://www.basketball-reference.com/leagues/NBA_2020_games-october-2020.html']
for url in url_lst:
    yearMonth_table = pd.io.html.read_html(url)[0]
    yearMonth_table['seasonStartYear'] = 2019
    df = pd.concat([df, yearMonth_table])

In [119]:
df_backup

,Date,seasonStartYear,Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 5,Unnamed: 6,Attend.,Notes,Start (ET),Unnamed: 7
0,"Thu, Jan 2, 1997",1996,Dallas Mavericks,97,Charlotte Hornets,107,Box Score,NaN,24042,NaN,NaN,NaN
1,"Thu, Jan 2, 1997",1996,Phoenix Suns,94,Cleveland Cavaliers,103,Box Score,NaN,15272,NaN,NaN,NaN
2,"Thu, Jan 2, 1997",1996,Boston Celtics,87,Detroit Pistons,99,Box Score,NaN,18208,NaN,NaN,NaN
3,"Thu, Jan 2, 1997",1996,Portland Trail Blazers,112,Houston Rockets,96,Box Score,NaN,16285,NaN,NaN,NaN
4,"Thu, Jan 2, 1997",1996,New Jersey Nets,91,Miami Heat,101,Box Score,NaN,15200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
0,"Fri, Oct 2, 2020",2019,Miami Heat,114,Los Angeles Lakers,124,NaN,Box Score,NaN,NaN,9:00p,NaN
1,"Sun, Oct 4, 2020",2019,Los Angeles Lakers,104,Miami Heat,115,NaN,Box Score,NaN,NaN,7:30p,NaN
2,"Tue, Oct 6, 2020",2019,Los Angeles Lakers,102,Miami Heat,96,NaN,Box Score,NaN,NaN,9:00p,NaN
3,"Fri, Oct 9, 2020",2019,Miami Heat,111,Los Angeles Lakers,108,NaN,Box Score,NaN,NaN,9:00p,NaN
4,"Sun, Oct 11, 2020",2019,Los Angeles Lakers,106,Miami Heat,93,NaN,Box Score,NaN,NaN,7:30p,NaN

In [120]:
#Fix date column
df_backup = df.copy()
df = df_backup.copy()
df = df[df.Date!='Playoffs'].copy()
df['datetime'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [130]:
"""
Creates a variable for playoff and regular season games.
"""
playOffStart = {1996:'1997-04-24', 1997:'1998-04-23', 1998:'1999-05-08', 1999:'2000-04-22', 2000:'2001-04-21',
               2001:'2002-04-20',2002:'2003-04-19', 2003:'2004-04-17', 2004:'2005-04-23', 2005:'2006-04-22',
               2006: '2007-04-21', 2007:'2008-04-19', 2008:'2009-04-18', 2009:'2010-04-17', 2010:'2011-04-16',
               2011:'2012-04-28', 2012:'2013-04-20', 2013:'2014-04-19', 2014:'2015-04-18', 2015:'2016-04-16',
               2016:'2017-04-15', 2017:'2018-04-14', 2018:'2019-04-13', 2019:'2020-08-15', 2020:'2021-05-18'}

df['playoff'] = df['seasonStartYear'].apply(lambda x: playOffStart[x])
df['isRegular'] = df['playoff'] > df['datetime']
df['isRegular'] = df['isRegular'].apply(lambda x: 1 if x else 0)
df.drop(columns=['playoff'], inplace=True)

In [131]:
# Remove exhibition games in 2018-19
df[(df.seasonStartYear==2018)&(df.isRegular==1)&(df['Visitor/Neutral']=='Boston Celtics')].sort_values(by=['datetime'])
df['d'] = df['datetime']> '2018-10-01'
df['y'] = df['seasonStartYear'] != 2018
df = df[(df['d'])|(df['y'])].copy()
df.drop(columns=['d','y'], inplace=True)

In [139]:
"""The 2012 season has 1 fewer games due to the bombing at the Boston Marathon. 
Otherwise all the seasons have the correct number of games."""

df[(df['isRegular']==1)]['seasonStartYear'].value_counts()

2008    1230
2010    1230
2018    1230
2017    1230
2016    1230
2015    1230
2014    1230
2013    1230
2004    1230
2005    1230
2006    1230
2007    1230
2009    1230
2012    1229
1996    1189
1997    1189
2003    1189
2002    1189
2001    1189
2000    1189
1999    1189
2019    1059
2011     990
1998     725
Name: seasonStartYear, dtype: int64

In [143]:
# I drop Unnecessary columns
df.drop(columns=['Unnamed: 5','Unnamed: 6', 'Unnamed: 7', 'Date'], inplace=True)

In [150]:
#Create game_id
df = df.sort_values(by='datetime')
df['game_id'] = [i+1 for i in range(len(df))]

In [153]:
df.head()

,seasonStartYear,Visitor/Neutral,PTS,Home/Neutral,PTS.1,Attend.,Notes,Start (ET),datetime,isRegular,game_id
4,1996,Sacramento Kings,85,Houston Rockets,96,16285,NaN,NaN,1996-11-01,1,1
3,1996,Los Angeles Clippers,97,Golden State Warriors,85,15593,NaN,NaN,1996-11-01,1,2
13,1996,Portland Trail Blazers,114,Vancouver Grizzlies,85,19193,NaN,NaN,1996-11-01,1,3
12,1996,Seattle SuperSonics,91,Utah Jazz,99,19911,NaN,NaN,1996-11-01,1,4
11,1996,New York Knicks,107,Toronto Raptors,99,28457,NaN,NaN,1996-11-01,1,5

In [154]:
df.to_csv("220224_games_BR_collectedBy_PH.csv", index=False)

In [8]:
"""
I wanted to have a more sensible filename for kaggle and also change the column names to be more easily understandable so I'll
create a copy of the file in which I fix these two issues.

"""

df = pd.read_csv("220224_games_BR_collectedBy_PH.csv")

#Set column names
df.set_axis(['seasonStartYear', 'awayTeam', 'pointsAway', 'homeTeam', 'pointsHome','attendance',
            'notes', 'startET', 'datetime', 'isRegular', 'game_id'], axis=1, inplace=True)
#Upload with new file name
df.to_csv('games.csv', index = False)