In [5]:
import pandas as pd
import string

In [3]:
#Example of what the table from each page looks like
url = 'https://www.basketball-reference.com/players/a/'
table = pd.io.html.read_html(url)
table[0]

,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240,"June 24, 1968",Duke
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235,"April 7, 1946",Iowa State
2,Kareem Abdul-Jabbar*,1970,1989,C,7-2,225,"April 16, 1947",UCLA
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162,"March 9, 1969",LSU
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223,"November 3, 1974","Michigan, San Jose State"
...,...,...,...,...,...,...,...,...
170,Gustavo Ayón,2012,2014,C,6-10,250,"April 1, 1985",NaN
171,Jeff Ayres,2010,2016,F,6-9,240,"April 29, 1987",Arizona State
172,Deandre Ayton,2019,2022,C,6-11,250,"July 23, 1998",Arizona
173,Kelenna Azubuike,2007,2012,G,6-5,220,"December 16, 1983",Kentucky
174,Udoka Azubuike,2021,2022,C,6-10,280,"September 17, 1999",Kansas

In [8]:
df = pd.DataFrame(columns=['Player', 'From', 'To', 'Pos', 'Ht', 'Wt', 'Birth Date', 'Colleges'])
for letter in list(string.ascii_lowercase): #
    url = 'https://www.basketball-reference.com/players/{}/'.format(letter)
    table = pd.io.html.read_html(url)[0]
    df = pd.concat([df, table])

In [15]:
df.rename(columns={'Player':'player_name', 'Birth Date': 'birthDate'}, inplace=True)

In [16]:
df.to_csv('player_info.csv', index=False)