In [3]:
import pandas as pd

In [4]:
#Example of what the table from each page looks like
url = 'https://hoopshype.com/salaries/players/1990-1991/'
table = pd.io.html.read_html(url)
table[0].drop(columns=['Unnamed: 0'])

                Player     1990/91  1990/91(*)
0        Patrick Ewing  $4,250,000  $8,889,207
1     Hot Rod Williams  $3,785,000  $7,916,623
2      Hakeem Olajuwon  $3,175,000  $6,640,760
3      Charles Barkley  $2,900,000  $6,065,576
4         Chris Mullin  $2,850,000  $5,960,997
..                 ...         ...         ...
347     Alan Bannister     $50,000    $104,578
348         Tony Brown     $50,000    $104,578
349        A.J. Wynder     $30,000     $62,747
350      Kelvin Upshaw     $30,000     $62,747
351  Anthony Frederick     $30,000     $62,747

[352 rows x 3 columns]

In [5]:
"""
I scrape the data for seasons 1996-97 to 2020-21. 
"""
df = pd.DataFrame(columns=['playerName', 'season_start_year', 'salary', 'inflationAdjSalary'])
for year in range(1997, 2021):
    url = 'https://hoopshype.com/salaries/players/{}-{}/'.format(year-1, year)
    table = pd.io.html.read_html(url)[0]
    table.drop(columns=['Unnamed: 0'], inplace=True)
    table.set_axis(['playerName', 'salary', 'inflationAdjSalary'], axis=1, inplace=True)
    table['season_start_year'] = year - 1
    
    df = pd.concat([df, table])

In [6]:
df.to_csv("salaries.csv", index=False)